{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "comma-dangle": "error",
    "newline-before-return": "error",
    "object-curly-spacing": ["error", "never"],
    "quote-props": ["error", "as-needed"],
    "require-await": "error",
    "no-console": "error",
    "@typescript-eslint/explicit-function-return-type": "error",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": ["error", {"argsIgnorePattern": "^_"}],
    "@typescript-eslint/no-var-requires": "error",
    "@typescript-eslint/quotes": ["error", "single"],
    "@typescript-eslint/semi": ["error", "always"]
  },
  "ignorePatterns": ["config/*"]
}
